h1{
    color: aqua;
}
ol{
    font-family: 'Times New Roman', Times, serif;
}
html{
    text-align: center;
}
.instructions{
    border: 2px red solid;
}
.redirect{
    color: purple;
    background-color: salmon;
}